<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    <form method="post" action="/sendata">
        <label>User:</label>
        <input name="user" type="text">
        <label>Pass:</label>
        <input name="pass" type="password">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>